.profile img
{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.profile-aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-view h2
{
    margin: 35px 0;
}

.profile div p
{
    margin-bottom: 15px;
}
.main-view p.sec
{
    font-size: 23px;
    margin: 15px 0 5px;
}

.main-view h2::before
{
    display: none;
}

@media (min-width: 800px) {
    .profile 
    {
        text-align: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,minmax(100px,auto));
        grid-template-areas: 
        "profile-aside intro"
        "profile-aside img"
        "profile-aside mail";
    }

    .profile-aside
    {
        grid-area: profile-aside;
        justify-self: center;
    }

    .profile .Shimizu
    {
        grid-area: intro;
        justify-self: center;
    }

    .profile > img
    {
        grid-area: img;
        justify-self: center;
    }

    .profile-aside li
    {
        text-align: left;
        list-style: inside;
    }

    .profile address
    {
        
        grid-area:mail;
        justify-self: center;
    }
}    